<div class="page-content">
  <!-- List -->
  <div class="list" *ngIf="listShow">
    <div class="page-header">
      <h2 class="m-0">Freelancers List</h2>
      <button mat-raised-button class="d-none d-md-block px-5" color="primary" (click)="addFreelancer()">Add Freelancer</button>
      <button mat-mini-fab class="d-md-none" color="primary" (click)="addFreelancer()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="search-container">
      <input class="form-control" type="text" placeholder="search" [(ngModel)]="searchFilter">
    </div>
    <!-- Loading Overlay -->
    <app-loadingoverlay *ngIf="loadingOverlay"></app-loadingoverlay>
    <!-- ================ -->
    <!-- No Data Message -->
    <app-nodata *ngIf="!loadingOverlay && freelancers.length == 0"></app-nodata>
    <!-- ================ -->
    <div class="content" *ngIf="!loadingOverlay && freelancers.length > 0">
      <div class="row no-gutters">
        <div class="col-xl-4 col-sm-6" *ngFor="let freelancer of freelancers | search:searchFilter">
          <mat-card class="text-left" style="position: relative;">
            <mat-card-content>
              <mat-card-title class="m-0">{{ freelancer.name }}</mat-card-title>
              <div class="d-flex justify-content-between">
                <mat-card-subtitle class="m-0">{{ freelancer.job }}</mat-card-subtitle>
                <mat-card-subtitle class="m-0">{{ freelancer.payslip }} <span *ngIf="currenciesList.length>0">{{ getCurrencyName(freelancer.currency) }}/hour</span></mat-card-subtitle>
              </div>
              <button class="emp-menu-btn" mat-icon-button [matMenuTriggerFor]="empMenu">
                <mat-icon>menu</mat-icon>
              </button>
              <mat-menu xPosition='before' #empMenu="matMenu">
                <button mat-menu-item class="pr-5" (click)="editItem(freelancer._id)">
                  <mat-icon>edit</mat-icon>
                  <span>Edit</span>
                </button>
                <button mat-menu-item class="pr-5 text-danger" (click)="deleteItem(freelancer._id)">
                  <mat-icon class="text-danger">delete</mat-icon>
                  <span>Delete</span>
                </button>
              </mat-menu>
            </mat-card-content>  
          </mat-card>
        </div>
      </div>  
    </div>
  </div>
  <!-- ========= -->
  <div class="operations" *ngIf="!listShow">
    <div class="page-header">
      <h2 class="m-0">Add Freelancer</h2>
      <button mat-raised-button class="d-none d-md-block px-5" color="primary" (click)="backToList()">Back to list</button>
      <button mat-mini-fab class="d-md-none" color="primary" (click)="backToList()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
    <!-- Loading Overlay -->
    <app-loadingoverlay *ngIf="loadingOverlay"></app-loadingoverlay>
    <!-- ================ -->
    <div class="content" *ngIf="currentFreelancer && !loadingOverlay">
      <mat-card>
        <mat-card-content>
          <!-- Form Add,Edit -->
          <div class="form">
            <div class="row">
              <div class="form-group col-sm-4">
                <mat-form-field class="w-100">
                  <input matInput placeholder="Freelancer name" autocomplete="off" (keyup)="nameError=false;" [(ngModel)]="currentFreelancer.name">
                  <button mat-button class="selecet-close-text" *ngIf="currentFreelancer.name" matSuffix mat-icon-button aria-label="Clear" (click)="currentFreelancer.name=null">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
                <span class="text-danger" *ngIf="nameError">Please type name</span>
              </div>
              <div class="form-group col-sm-4">
                <mat-form-field class="w-100">
                  <mat-label>Gender</mat-label>
                  <mat-select [(ngModel)]="currentFreelancer.gender" (selectionChange)="genderError=false;">
                    <mat-option value="0">
                      Male
                    </mat-option>
                    <mat-option value="1">
                      Female
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <span class="text-danger" *ngIf="genderError">Please choose gender</span>
              </div>
              <div class="form-group col-sm-4">
                <mat-form-field class="w-100">
                    <input matInput [matDatepicker]="picker" (focus)="picker.open()" autocomplete="off" placeholder="Birthdate" [(ngModel)]="currentFreelancer.birthDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="form-group col-sm-4">
                <mat-form-field class="w-100">
                  <input matInput placeholder="Email" autocomplete="off" [(ngModel)]="currentFreelancer.email">
                  <button mat-button class="selecet-close-text" *ngIf="currentFreelancer.email" matSuffix mat-icon-button aria-label="Clear" (click)="currentFreelancer.email=null">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
              </div>
              <div class="form-group col-sm-4">
                <mat-form-field class="w-100">
                  <input matInput placeholder="Personal ID" autocomplete="off" [(ngModel)]="currentFreelancer.personalID">
                  <button mat-button class="selecet-close-text" *ngIf="currentFreelancer.personalID" matSuffix mat-icon-button aria-label="Clear" (click)="currentFreelancer.personalID=null">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
              </div>
              <div class="form-group col-sm-4">
                <mat-form-field class="w-100">
                  <input matInput placeholder="Job" autocomplete="off" (keyup)="jobError=false;" [(ngModel)]="currentFreelancer.job">
                  <button mat-button class="selecet-close-text" *ngIf="currentFreelancer.job" matSuffix mat-icon-button aria-label="Clear" (click)="currentFreelancer.job=null">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
                <span class="text-danger" *ngIf="jobError">Please type job</span>
              </div>
              <div class="form-group col-sm-4">
                <mat-form-field class="w-100">
                  <input matInput placeholder="Days in week" type="number" min="1" max="7" maxlength="1" autocomplete="off" (keypress)="onlyNumbers($event)" (keyup)="workingDaysError=false;" [(ngModel)]="currentFreelancer.workingDays">
                </mat-form-field>
                <span class="text-danger" *ngIf="workingDaysError">Please set Days in week</span>
              </div>
              <div class="form-group col-sm-4">
                <mat-form-field class="w-100">
                  <input matInput placeholder="Hour rate" autocomplete="off" (keyup)="payslipError=false;" (keypress)="onlyNumbers($event)" [(ngModel)]="currentFreelancer.payslip">
                  <button mat-button class="selecet-close-text" *ngIf="currentFreelancer.payslip" matSuffix mat-icon-button aria-label="Clear" (click)="currentFreelancer.payslip=null">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
                <span class="text-danger" *ngIf="payslipError">Please add hour rate</span>
              </div>
              <div class="form-group col-sm-4">
                <mat-form-field class="w-100">
                  <input matInput placeholder="Hours per day" type="number" min="1" max="22" maxlength="2" autocomplete="off" (keypress)="onlyNumbers($event)" (keyup)="HPDError=false;" [(ngModel)]="currentFreelancer.HPD">
                </mat-form-field>
                <span class="text-danger" *ngIf="HPDError">Please set hours per day</span>
              </div>
              <div class="form-group col-sm-4">
                <mat-form-field class="w-100">
                  <input matInput placeholder="Phone number" autocomplete="off" (keypress)="onlyNumbers($event)" [(ngModel)]="currentFreelancer.phone">
                  <button mat-button class="selecet-close-text" *ngIf="currentFreelancer.phone" matSuffix mat-icon-button aria-label="Clear" (click)="currentFreelancer.phone=null">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
              </div>
              <div class="form-group col-sm-4">
                <mat-form-field class="w-100">
                  <mat-label>Currency</mat-label>
                  <mat-select [(ngModel)]="currentFreelancer.currency" (selectionChange)="currencyError=false;">
                    <mat-option [value]="currency._id" *ngFor="let currency of currenciesList">
                      {{ currency.name }}
                    </mat-option>
                  </mat-select>
                  <button mat-button class="selecet-close" *ngIf="currentFreelancer.currency" matSuffix mat-icon-button aria-label="Clear" (click)="currentFreelancer.currency=null">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
                <span class="text-danger" *ngIf="currencyError">Please choose currency</span>
              </div>
              <div class="form-group col-sm-4">
                <mat-form-field class="w-100">
                  <mat-label>Nationality</mat-label>
                  <mat-select [(ngModel)]="currentFreelancer.nationality">
                    <mat-option [value]="nationality._id" *ngFor="let nationality of nationalitiesList">
                      {{ nationality.name }}
                    </mat-option>
                  </mat-select>
                  <button mat-button class="selecet-close" *ngIf="currentFreelancer.nationality" matSuffix mat-icon-button aria-label="Clear" (click)="currentFreelancer.nationality=null">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
              </div>
              <div class="form-group col-12 mt-3 text-center">
                <button mat-raised-button class="submit-btn" color="primary" (click)="submitFreelancer()">Submit<mat-icon class="ml-2">send</mat-icon></button>
              </div>
            </div>
          </div>
          <!-- ============= -->
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>