/* =========Loader=========== */
.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 74px;
    height: 74px;
    margin: auto!important;
    overflow: hidden;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 6px;
    box-sizing: border-box;
    border: 31px solid #1e88e5;
    border-color: #1e88e5 transparent #1e88e5 transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }
 /* ======================================  */
 .login-page{
  height: 100vh;
  background-color: #edf4f8;
  display: flex;
}
.login-box{
  width: 360px;
  margin: auto;
}
.btn-sub{
  font-size: 16px;
  margin: 20px 0px;
}
.reg{
  cursor: pointer;
}