.login-page{
    height: 100vh;
    background-color: #edf4f8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.login-box{
    width: 360px;
}
.btn-sub{
    font-size: 16px;
    margin: 20px 0px;
}
.reg{
    cursor: pointer;
}


/*Responsive Media Query*/
@media all and (max-width: 575px) {
    .login-box{
        width: 300px;
    }
}