.page-header{
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    padding: 15px;
}
.page-header h2{
    font-weight: 400;
    font-size: 30px;
}
.menu-btn{
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}